<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h3>Ma commande</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render 'orders/order_card', order: @order %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <hr>
      <p>Map</p>
    </div>
  </div>
</div>
