.banner.text-center style="background: linear-gradient(-200deg, rgb(50, 50, 50) -3%, rgba(100, 100, 100, 0) 53%); background-image: url('#{image_path 'gus.jpg'}'); background-size: cover;"
  .container
    .banner-content
      h1 Pick-Eat Up
      p Un click, une foulée, un pick-up.
      .row
        .col-xs-4.col-xs-offset-4
          = simple_form_for :search_meal, url: meals_path, method: :get  do |form|
            = form.input :query_address, as: :string, label: false , placeholder: 'Votre adresse...', input_html: { class: "form-control", id:"user_input_autocomplete_address" }
            = form.submit "Pick Eat Up", class: 'btn btn-primary'

