<div class="banner text-center" style="background: linear-gradient(-200deg, rgb(50, 50, 50) -3%, rgba(100, 100, 100, 0) 53%), url(<%= image_path 'gus.jpg' %>); background-size: cover;">
  <div class="banner-content">
    <h1>Pick-Eat Up</h1>
    <p>Un click, une foulée, un pick-up.</p>
  </div>

  <div class="row text-center">
    <div class="col-xs-4 col-xs-offset-4">
      <form action="/meals" class="form-inline">
        <input type="text" class="form-control" id="user_input_autocomplete_address" placeholder="Votre addresse ...">
        <input type="submit" class="btn btn-md btn-color-line" value="Pick-Eat Up">
      </form>
    </div>
  </div>

</div>
