<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <% if @meals.blank? %>
          There is no meal
        <% else %>
          <% @meals.each do |meal| %>
            <div class="col-xs-6">
              <%= render 'meals/meal_card', meal: meal %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <h3>Panier</h3>
      <%= render 'cart', cart_array: session[:cart], bill: session[:bill], pick_up_time: session[:pick_up_time] %>
    </div>
  </div>
</div>
