<div class="container">
  <div class="row">
    <div class="col-xs-6 ">
      <div class="row">
        <div class="col-xs-12">
          <div class="thumbnail">
            <div class="caption">
              <%= render 'meals/meal_card', meal: @meal %>
              <%= render 'meals/pickeatup_button', meal: @meal %>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- LE REVIEW FORM DOIT APPARAITRE UNE FOIS LA COMMANDE VALIDE, PAS DANS LE SHOW MEAL -->
    <div class="col-xs-6">
<!-- pourquoi pas un if pour mettre la carte quand le panier est vide -->
      <h3>Mon panier</h3>
      <hr>
      <%= render 'cart', cart_array: session[:cart], bill: session[:bill], pick_up_time: session[:pick_up_time]%>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 ">
      <div class="row">
        <div class="col-xs-12">
          <%= render 'meals_card' %>
        </div>
      </div>
    </div>
  </div>

</div>
