<section class="page-title dark-bg page-bg">
  <div class="overlay">
    <div class="container">
      <div class="section-title">
        <h2>
          Meal
        </h2>
        <div class="line"></div>
        <p>
          Deserunt sit animi totam dicta suscipit non sapiente.
        </p>
      </div>
    </div>

  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-xs-6 ">
      <div class="row">
        <div class="col-xs-12">
          <div class="thumbnail">
            <div class="caption">
              <%= render 'meals/meal_card', meal: @meal %>
              <%= render 'meals/pickeatup_button', meal: @meal %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'meals/meals_card', meal: @meal %>
    </div>
    <div class="col-xs-6">
      <h3>Mon panier</h3>
      <hr>
      <%= render 'cart', cart_array: session[:cart], bill: session[:bill], pick_up_time: session[:pick_up_time]%>
    </div>
  </div>
</div>
