.blog-entry {
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;

  p {
    height: 80px;
    overflow: hidden;
  }
}

.meal-container {
  margin-bottom: 20px;
}

.btn-xs {
  border-radius: 5px;
}

.order{
  margin-top: 50px;
  margin-bottom: 30px;
}

.boisson .thumbnail, .plat .thumbnail, .meal .thumbnail {
  height: 320px;
  position: relative;
  .description {
    max-height: 60px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
  }
  .name {
    padding-left: 5px;
    padding-right: 5px;
  }
  .price {
    padding-left: 5px;
    padding-right: 5px;
  }
  form {
    bottom: 8px;
    left: 8px;
    position: absolute;
  }
}


 .bloc-meals {
  max-height: 330px;
  overflow: auto;
 }


.header-pic {
  margin: auto !important;
  max-height: 75px;
}
