.card {
 position: relative;
 padding:50px;
 background-size: cover;
 height: 200px;
 margin: 20px auto;
 &-bg {
   background-size: cover;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
 }
 &-text {
   top: 10px;
   left: 10px;
   color: #FFF;
 }
 &-link {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   color: transparent;
   z-index: 3;
   &:hover {
     opacity: 0.9;
   }
 }
 &-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 90%;
  padding: 0 0 2px; overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 90%;
  padding: 0 0 2px;
  font-weight: bold;
 }
 &-description {
  font-size: 12px;
  color: #8b8b91 ;
  margin-top: -10px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }
