<div class="row">
  <div class="col-xs-2">
    <p><%= review.user.profile.first_name %></p>
  </div>
  <div class="col-xs-10">
    <div class="navbar-wagon-pict"><%= image_tag review.user.profile.picture %></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p><strong>Note: </strong><%= review.rating %>/5</p>
    <p><strong>Description: </strong><%= review.content %></p>
  </div>
</div>
<hr>
