#footer
  footer
    hr.footer-divider/
    .container
      .row.footer-content
        .col-sm-12.space-4.space-top-4.show-sm
          ul.list-inline.text-center.h5
            li
              a.link-contrast href="/about/about-us"  À propos
            li
              a.link-contrast href="/careers"  Carrières
            li
              a.link-contrast href="/contact"  Contact
            li
              a.link-contrast href="/terms"  CG & confidentialité
      .text-center
        h2.h5.space-4.hide-sm Rejoignez-nous
        ul.list-inline
          li
            a.link-contrast.footer-icon-container href="https://www.facebook.com/lewagonformation"
              i.fa.fa-facebook
          li
            a.link-contrast.footer-icon-container href="https://twitter.com/lewagonlille"
              i.fa.fa-twitter
          li
            a.link-contrast.footer-icon-container href="https://www.linkedin.com/company/le-wagon"
              i.fa.fa-youtube
          li
            a.link-contrast.footer-icon-container href="https://www.instagram.com/"
              i.fa.fa-instagram
        .space-top-2.text-muted
          | \&copy; Pick-Eat Up
