

<div id="footer">
  <footer>

  <hr class="footer-divider">

   <div class="row footer-content">
      <div class="col-sm-12 space-4 space-top-4 show-sm">
        <ul class="list-inline text-center h5">
          <li><a href="/about/about-us" class="link-contrast">À propos</a></li>
          <li><a href="/careers" class="link-contrast">Carrières</a></li>
          <li><a href="/contact" class="link-contrast">Contact</a></li>
          <li><a href="/terms" class="link-contrast">CG & confidentialité</a></li>
        </ul>
      </div>
    </div>

    <div class="text-center">
      <h2 class="h5 space-4 hide-sm">Rejoignez-nous</h2>
      <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/lewagonformation" class="link-contrast footer-icon-container">
              <i class="fa fa-facebook"></i>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/lewagonlille" class="link-contrast footer-icon-container">
              <i class="fa fa-twitter"></i>
            </a>
          </li>

        <li>
          <a href="https://www.linkedin.com/company/le-wagon" class="link-contrast footer-icon-container">
            <i class="fa fa-youtube"></i>
          </a>
        </li>

          <li>
            <a href="https://www.instagram.com/" class="link-contrast footer-icon-container">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
      </ul>
      <div class="space-top-2 text-muted">
        &copy; Pick-Eat Up
      </div>
    </div>
  </footer>
</div>


